@model Garage2.Models.Vehicle

@{
    ViewBag.Title = "Checkout";
}

<h2>Check out</h2>

<h3>Are you sure you want to check out this vehicle?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingSpace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSpace)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @*        <input type="submit" value="Receipt" class="btn btn-default" /> |*@
        @Html.ActionLink("Receipt", "Receipt", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")

    </div>
    }
</div>
