@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Parked Vehicles </h2>
<br>
<h4>The Garage has @ViewBag.size places, @ViewBag.numSpace are occupied, and there are @ViewBag.numVehicle parked vehicles. </h4>
<br>

<p>
    @Html.ActionLink("Search Member and Park a Vehicle", "Search", "Members")
</p>
<br>

@using (Html.BeginForm())
{
    <p>
        Find by Brand: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
        @*    @Html.DisplayNameFor(model => model.RegNo)*@
            @Html.ActionLink("Registration No", "Index", new { sortOrder = ViewBag.RegNoSortParm })
        </th>
        <th>
 @*           @Html.DisplayNameFor(model => model.VehicleType)*@
            @Html.ActionLink("Vehicle Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
        </th>
        <th>
   @*         @Html.DisplayNameFor(model => model.Brand)*@
            @Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.BrandSortParm })
        </th>
        <th>
   @*         @Html.DisplayNameFor(model => model.VehicleModel)*@
            @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSortParm })
        </th>
        <th>
  @*          @Html.DisplayNameFor(model => model.Color)*@
            @Html.ActionLink("Color", "Index", new { sortOrder = ViewBag.ColorSortParm })
        </th>
        <th>
   @*         @Html.DisplayNameFor(model => model.ParkTime)*@
            @Html.ActionLink("Park Time", "Index", new { sortOrder = ViewBag.ParkTimeSortParm })
        </th>
        <th>
    @*        @Html.DisplayNameFor(model => model.ParkingSpace)*@
            @Html.ActionLink("Parking Space", "Index", new { sortOrder = ViewBag.SpaceSortParm })
        </th>
        <th>
            Owner
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingSpace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.FirstName)
            @Html.DisplayFor(modelItem => item.Member.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check out", "Checkout", new { id=item.Id })
        </td>
        
    </tr>
}

</table>
