@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Frodo's Garage</h1>
    <p class="lead">Here you can park your vehicle in a safe and friendly environment. We have extensive
     security features, including teargas, armoured doors and mad free-running guarddogs with rabies.</p>
    <br>
    <button type="button" onclick="myFunc2()">Learn more</button>
    <br><br>
    <h4>The Garage has @ViewBag.size places, @ViewBag.numSpace are occupied, and there are @ViewBag.numVehicle parked vehicles. </h4>
   
</div>
<br>

<div class="row">
    <div class="col-md-4">
        <h2>Park your car.</h2>
        <p>
            The World's Nicest Garage !
        </p>
        @Html.ActionLink("Become a Member !", "Create", "Members")
        
    </div>

    <div class="col-md-4">
        <h2>List  Members and Park your car.</h2>
        <p>
            The World's Nicest Garage !
        </p>
        @Html.ActionLink("List", "Index", "Members")

    </div>
    
    <div class="col-md-4">
        <h2>Search for a Vehicle</h2>
        <p>Find a parked Vehicle by Registration Number or by Brand.</p>
        @Html.ActionLink("Search", "Search", "Vehicles")
    </div>


</div>



<script>

    function myFunc2() {

        alert("Price List:  xxx  zzzz  ");
        
    }

</script>