@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Frodo's Garage</h1>
    <p class="lead">Here you can park your vehicle in a safe and friendly environment. We have extensive
     security features, including teargas, armoured doors and mad free-running guarddogs.</p>
    <br>
    <button type="button" onclick="myFunc2()">Learn more</button>
    <br>
    <h4>The Garage has @ViewBag.size places, @ViewBag.num are currently occupied. </h4>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Park your car.</h2>
        <p>
            Park Park
        </p>
        @Html.ActionLink("Park", "Create", "Vehicles")
        
    </div>
    <div class="col-md-4">
        <h2>Check out our car</h2>
        <p>Does not work, no id reference... </p>
        @Html.ActionLink("Check Out", "Delete", "Vehicles")
    </div>
    <div class="col-md-4">
        <h2>Search for a Vehicle</h2>
        <p>Find a Vehicle by Registration Number or by Brand.</p>
        @Html.ActionLink("Search", "Search", "Vehicles")
    </div>
</div>



<script>

    function myFunc2() {

        alert("Price List:  Car:  20/h   200/24h          Bus:  30/h   300/24h ");
        
    }

</script>